body { 
    background-color: burlywood; 

}
p {
    color: red;

}

#dog {
    background-color: violet;
}

#p1 {
    color: green;
}

#p2 {
    color: red;
}

#p3 {
    color: yellow;
}

#p4 {
    color: black;
}
